
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    height: 25vh;
    width: 10%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: black;
    color: white;
} 

h2{
    font-size: 80px;

}

